.primaryButton {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid blue;
    cursor: pointer;
}

.primaryButton:hover {
    background-color: lightblue;
    color: black;
}